/*!
 * @package annoptions
 * @version 1.0.0
 * Demo desc
 */
@import "components/resets";
@import "components/select2";
@import "components/page";

input {
  line-height: 36px;
  height: 36px;
  padding: 0 8px;
  border: 1px solid #eee;
  > :hover,
  > :focus,
  > :active {
    box-shadow: 1px 2px 5px #bbb;
    background: #e3e1e1;
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
