.annoptions_page {
	background: #fff;
	color: #444;
	border: 1px solid #eee;

	.ao_page_title {
		padding: 5px 15px;
		border-bottom: 1px solid #eee;
		display: block;
		width: 100%;

		h2 {
			margin: 10px 0;
		}
	}

	form {
		padding: 15px;
	}
}
@mixin clearfix() {
	&:after,
	&:before {
		content: " "; // 1
		display: table; // 2
	}

	&:after {
		clear: both;
	}
}

.annoptions_page {
	@include clearfix;

	.ao-row,
	.row {
		display: flex;
		box-sizing: border-box;
		width: 100%;

		.letf-menu {
			width: 25%;
			max-width: 350px;
		}

		.right-content {
			width: 75%;
		}
	}
}

ul.ao_left_menu {
	margin: 0;
	border: 1px solid #eee;
	border-bottom: 0 solid #eee;
	border-top: 0 solid #eee;

	li {
		margin: 0;
		padding: 0;
		//border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		a {
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			padding: 10px 15px;
			display: block;
		}
	}
}
